/*

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.

*/
* {
    box-sizing: border-box;
    text-align: center;
  }
  .span {
    color:#cccccc;
  }

  h1 {
    background-color:#ffffff;
    width: 100%;
    height: 60px;
    color:white;
    font-size: 10px;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-bottom: 3px solid #cccccc;

    
    top: 0;

  }

  .html-links {
    float:right;
    font-size: 20px;
    color:#666666;
  }


  .name, .head {
    position: absolute;
    top: 0px;
    height: 60px;
    float: left;
    padding: 30px;
    background:#4aaaa5;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

 
  .button {color:#cccccc;
    font-size: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
  }

  h2 {
    border-bottom: 3px solid #cccccc;
    font-size: 20px;
    color:#4aaaa5;;
    text-align: left;

  }

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: #777777;
    background:rgba(231, 231, 231, 0.733);
    margin: 0px auto;
    position: relative;
    height: 100vh;
  }


  #fixed {font-size: 15px;
    text-align: right;
    margin-bottom: 28px;
    line-height: 28px;
    color:white;
    src="contact.html"
}

  #page {float:right;
}
  
  a {
    color: darkgrey;
  }
  
  .center {
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    width: 50%;
    height: 400px;
    color: #777777;
    position: static;
    
    /* VERY IMPORTANT TO CENTER ELEMENTS  */
    margin: 0 auto;
    padding: 20px;
  
    
  }
  
  #bio-image {
    width: 200px;
    height: 300px;
    padding: 20px;
    align-items: center;
    color: rgb(95, 95, 95);
    position: relative;
    border-radius: 200px;
    /* VERY IMPORTANT TO CENTER ELEMENTS  */
    margin: 0 auto;
    float: left;
    line-height: 15px;

  }
 
  .main-bio, p,
  .center {
    text-align: center;
    background: #ffffff;
    font-size: 12px;
    width: 960px;
    height: 450px;
    padding: 20px;
    line-height: 100%;
    align-items: center;
    color: #777777;
    overflow: scroll;
    line-height: 20px;

    /* VERY IMPORTANT TO CENTER ELEMENTS  */
    margin: 0 auto;
    }


    #bio-image::after{
      content: "";
      display: block;
      clear: both;
    }


  footer {background-color: #666666;
    width: 100%;
    height: 75px;
    color: #ffffff;
    padding: 20px;
    font-family: Arial;
    font-size: 15px;
    border-top: 10px solid #4aaaa5;
    position: absolute;

    bottom: 0;
  }